{% extends '/base/baseNew.html.twig' %}

{% block title 'Login' %}

{% block content %}

    <!-- Begin page content -->
    <div id="wrapper">
        <!-- Section -->
        <section class="fullscreen" style="background-image: url(/images/pages/login-wallpaper.jpg)">
            <div class="container container-fullscreen">
                <div class="text-middle">
                    <div class="row">
                        <div class="box-login col-xs-4 col-md-4 center p-30 background-white b-r-6">
                            <a href="{{ path('app_home') }}" style="font-weight: bolder"><i class="fas fa-arrow-circle-left fa-lg m-b-10"></i> Back to home</a>
                            <a href="{{ path('app_register') }}" class="float-right" style="font-weight: bolder">Register account <i class="fas fa-arrow-circle-right fa-lg m-b-10"></i></a>
                            <hr>
                            {% include '/base/alertMessage.html.twig' %}
                            <h3 class="text-center" style="font-weight: bolder">User Login</h3>
                            <form method="post" class="form-transparent-grey">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <div class="form-group">

                                    <div class="input-icons">
                                        <label class="sr-only">Username</label>
                                        <i class="fas fa-user-tie iconx"></i>
                                        <input type="text" placeholder="Username" name="username" id="inputUsername" class="form-control input-field" required>
                                    </div>
                                </div>

                                <div class="input-icons">
                                    <div class="form-group m-b-5">
                                        <label class="sr-only">Password</label>
                                        <i class="fas fa-unlock-alt iconx"></i>
                                        <input type="password" name="password" class="form-control input-field" id="inputPassword" placeholder="Password" required>
                                    </div>
                                </div>

                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">


                                <div class="text-left form-group">
                                    <button type="submit" class="btn btn-icon-holder btn-shadow btn-light-hover btn-light-hover">Login<i class="fa fa-arrow-right"></i></button>
                                </div>

                            </form>
                            <a href="{{ path('app_forgotten_password') }}"><small>Lost your Password?</small></a>
                            <p class="small">Don't have an account yet? <a href="{{ path('app_register') }}">Register New Account</a>
                            </p>
                        </div>
                    </div>
            </div>
        </section>
        <!-- end: Section -->
    </div>
{% endblock %}