{% extends '/base/baseNew.html.twig' %}

{% block title 'Reset Password' %}

{% block content %}
    <!-- Begin page content -->
    <div id="wrapper">
        <!-- Section -->
        <section class="fullscreen" style="background-image: url(/images/pages/login-wallpaper.jpg)">
            <div class="container container-fullscreen">
                <div class="text-middle">
                    <div class="row">
                        <div class="box-login col-xs-4 col-md-4 center p-30 background-white b-r-6">
                            <a href="{{ path('app_home') }}" style="font-weight: bolder"><i class="fas fa-arrow-circle-left fa-lg m-b-10"></i> Back to home</a>
                            <a href="{{ path('app_login') }}" class="float-right" style="font-weight: bolder">Back to login <i class="fas fa-arrow-circle-right fa-lg m-b-10"></i></a>
                            <hr>
                            <h3 class="text-center" style="font-weight: bolder">Reset Password</h3>
                            <form method="post" class="form-transparent-grey">
                                {{ form_start(resetPasswordForm) }}
                                {{ form_row(resetPasswordForm.token) }}
                                <div class="form-group">
                                    <div class="input-icons">
                                        <label class="sr-only">Username</label>
                                        <i class="fas fa-unlock-alt iconx"></i>
                                        {{ form_row(resetPasswordForm.plainPassword) }}
                                    </div>
                                </div>
                                {{ form_row(resetPasswordForm.reset) }}
                                {{ form_end(resetPasswordForm) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Section -->
    </div>
{% endblock %}