{% extends '/base/baseNew.html.twig' %}

{% block title 'Snow Tricks' %}

{% block content %}

<div id="wrapper">
    <!-- SECTION IMAGE FULLSCREEN -->
    <section class="fullscreen" data-parallax-image="/images/wallpaper.jpg">
        <div id="up" class="container container-fullscreen">
            <div class="text-middle text-center">
                <h1 class="text-uppercase text-large text-light" data-animation="fadeInUp">Snow Tricks</h1>
                <span data-animation="fadeInUp" data-animation-delay="900"></span>
            </div>
        </div>
    </section>
    <!-- end: SECTION IMAGE FULLSCREEN -->

    <!-- Page Menu -->
    <div class="page-menu menu-outline style1">
        <div class="container-fluid float-right">
            <a href="#tricklist" onclick="$('#page-content').fadeIn(1200)"><i class="fas fa-arrow-down"></i></a>
        </div>
    </div>

    <section id="page-content">
        <div class="row">
            <div id="tricklist" class="container">
                {%  for tricks in tricks %}
                    <div class="box col-lg-4" id="media_{{ tricks.id }}">
                        <div class="posts_more">
                            <!-- holder -->
                            <div class="holder">
                                <div class="portfolio-item light-bg no-overlay img-zoom pf-illustrations pf-uielements pf-media">
                                    <div class="portfolio-item-wrap" id="tricks">
                                        {% for image in tricks.images %}
                                            {% if image.mainImage == 1 and image.active == 1 %}
                                                <div class="portfolio-image">
                                                    <a href="{{ path('tricks.show', {id: tricks.id, slug: tricks.slug}) }}"><img src="/uploads/images/{{ image.image }}" alt=""></a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="portfolio-description">
                                            <a>
                                                <div class="text-center">
                                                    <div>
                                                        {% if app.user.id is defined %}
                                                            <a href="{{ path('user.tricks.edit', {id: tricks.id}) }}">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                            <a id="deleteMedia_{{ tricks.id }}" data-url="{{ path('tricks.delete', {'id': tricks.id}) }}">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </a>
                                                        {% endif %}
                                                    </div>

                                                    <div>
                                                        <a href="{{ path('tricks.show', {id: tricks.id, slug: tricks.slug}) }}">
                                                            <h3>{{ tricks.name }}</h3>
                                                            <span>{{ tricks.category }}</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- btn holder -->
            <div class="container text-center btnHolder">
                <button id="btnMore" class="btn">Load More</button>
            </div>
        </div>

            <div class="container-fluid float-right">
                <a href="#up"><i class="fas fa-arrow-up"></i></a>
            </div>

    </section>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/custom.js') }}"></script>
    <script src="{{ asset('js/tricks.js') }}"></script>
    <script>
        $('#page-content').hide()
    </script>
{% endblock %}