<div style="background-color: #f3f3f3">
    <!-- START: Main Image -->
    <div id="media">
        <div class="container-fluid">
            <div class="row">
                {% for image in tricks.images %}
                    {% if image.mainImage == 1 and image.active == 1 %}
                        <div id="media_{{ image.id }}">
                            <div class="portfolio-item light-bg no-overlay img-zoom pf-illustrations pf-uielements pf-media">
                                <div class="portfolio-item-wrap" id="tricks">

                                    <div class="overlay-image _bo">
                                        <a>
                                            <div class="portfolio-wrap">
                                                <img src="/uploads/images/{{ image.image }}" alt="Main Image Tricks" width="100%">
                                            </div>
                                            <div class="text_test _q">{{ tricks.name }}</div>

                                            {% if app.user.id is defined %}
                                                <div class="icon_test">
                                                    <a href="{{ path('user.tricks.edit', {id: tricks.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                                                    <a href="#" id="deleteMedia_{{ tricks.id }}" data-url="{{ path('tricks.delete', {'id': tricks.id}) }}"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                            {% endif %}

                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- END: Main Image -->

    <!-- START: Other Image -->
    <div id="media">
        <div class="container-fluid">
            <div class="row">
                {% for image in tricks.images %}
                    {% if image.mainImage == 0 and image.active == 1 %}
                        <div class="col-lg-3" id="media_{{ image.id }}">
                            <div class="portfolio-item light-bg no-overlay img-zoom pf-illustrations pf-uielements pf-media">
                                <div class="portfolio-item-wrap" id="tricks">

                                    <div class="portfolio-image box-sh">
                                        <img src="/uploads/images/{{ image.image }}" alt="Images Tricks">
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- END: Other Image -->

                <!-- START: Video -->
                {% for video in tricks.videos %}
                    <div class="col-lg-3" id="mediavideo_{{ video.id }}">
                        <div class="portfolio-item light-bg no-overlay img-zoom pf-illustrations pf-uielements pf-media">
                            <div class="portfolio-item-wrap" id="tricks">

                                <div class="post-video">
                                    <iframe width="560" height="315" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- END: Video -->
            </div>
        </div>
    </div>
</div>