{% extends 'base/baseNew.html.twig' %}

{% block title 'Change Password' %}

{% block content %}

    <div class="container m-t-30">
        {% if app.user %}
        <!--Team members style 2-->
        <div class="row team-members team-members-card m-b-40">

            <div class="col-md-3">
                <div class="team-member">

                    <div class="team-image" style="margin-bottom: 0px">
                        <div class="overlay-image _bo">
                            <a>
                                <div class="portfolio-wrap">
                                    <img src="/img/{{ app.user.avatar }}" alt="Main Image Tricks" width="100%">
                                </div>
                                <div class="text_test _q" style="font-size: 26px;">{{ app.user.username }}</div>
                            </a>
                        </div>
                    </div>

                    <div class="team-desc col-md-12">
                        <a href="{{ path('account_profile') }}" style="font-weight: bold">
                            <i class="fas fa-user-tie"></i> Edit Profile
                        </a>

                        <hr>

                        <a href="{{ path('account_password') }}" style="font-weight: bold">
                            <i class="fas fa-unlock-alt"></i> Change Password
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="team-member">
                    <div class="col-md-12  m-t-15">
                        <div class="hr-title center m-t-10 m-b-30"><abbr>CHANGE YOUR PASSWORD : {{ app.user.username }}</abbr> </div>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-default m-b-30">Save</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <!--END: Team members style 2-->
            {% endif %}
        </div>
    </div>
{% endblock %}