<!-- Nav bar -->
<nav class="navbar shadow navbar-expand-lg navbar-dark bg-primary" id="navbartop" style="line-height: 50px; text-transform:capitalize">
    <a class="navbar-brand" href="{{ path('app_home') }}">SnowTricks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <!-- menu nav-bar if user is not login -->
            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'home' %}active{% endif %}" href="{{ path('app_home') }}">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'tricks' %}active{% endif %}" href="{{ path('tricks.index') }}">Tricks</a>
            </li>

            <!-- menu nav-bar if user is login -->

            {% if app.user %}

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                        <img src="/img/{{ app.user.avatar }}" class="avatar avatar-mini" alt="Avatar de {{ app.user.username }}">
                        {{ app.user.username }}

                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                        <a href="{{ path('account_profile') }}" class="dropdown-item">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('user.tricks.new') }}" class="dropdown-item">Create Tricks</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('user.tricks.index') }}" class="dropdown-item">Manage Tricks</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('app_logout') }}" class="dropdown-item">Logout</a>
                    </div>
                </li>

                <!-- menu nav-bar if user is not login -->
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'register' %}active{% endif %}" href="{{ path('app_register') }}">Sign up</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'login' %}active{% endif %}" href="{{ path('app_login') }}">Sign in</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>

{%  for message in app.flashes('info') %}
    <div class="alert my-0 text-center  alert-success">
        {{ message }}
    </div>
{% endfor %}

    {%  for message in app.flashes('danger') %}
        <div class="alert my-0 text-center  alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {%  for message in app.flashes('warning') %}
        <div class="alert my-0 text-center  alert-warning">
            {{ message }}
        </div>
    {% endfor %}