{% extends 'base/baseNew.html.twig' %}

{% block title tricks.name %}

{% block content %}

<!--START: Show Source (Main Image, Image, Video)-->
{% include '/includes/sourceShow.html.twig' %}
<!--END: Show Source (Main Image, Image, Video)-->

    <!--START: Container-->
    <div class="container m-t-20">
        <div class="row">
            <!--START: Content-->
            <div class="col-lg-12">
                <div class="text-center m-b-20">
                    <span class="lead">{{ tricks.content }}</span>
                </div>
            </div>
            <!--END: Content-->
        </div>

        <!--START: Create , Update, Date-->
        <div class="single-post">
            <div class="post-item">
                <div class="post-item-wrap">
                    <div class="post-tags text-center">
                        <a>Create : {{ tricks.createdAt|date("d/m/Y") }}</a>
                        <a>Update : {{ tricks.updatedAt|date("d/m/Y") }}</a>
                        <a>Tags : {{ tricks.category }}</a>
                    </div>
                </div>
            </div>
        </div>
        <!--END: Create , Update, Date-->
        <hr>
    </div>
    <!--END: Container-->

    <!--START: Container-->
{% if app.user %}
    <div class="container m-b-35">
        <!--START: Form Comment-->
        <div class="row">
            <div class="col-lg-12 center m-b-20 m-t-20">
                          {{ form_start(form) }}
                          {{ form_widget(form) }}
                          <div class="text-center">
                               <button type="submit" class="btn btn-default">Leave a comment</button>
                          </div>
                          {{ form_end(form) }}
            </div>
        </div>
    <!--END: Form Comment-->
        <hr>
{% endif %}
    </div>
    <!--END: Container-->

    <div class="container m-b-35">
        <!--START: Show Comment-->
        {% if tricks.comments|length > 0 %}
                     <div class="comments">
                     {% for comment in tricks.comments %}
                         <div class="posts_more">
                             <!-- holder -->
                             <div class="holder">
                                 {% if app.user and app.user == comment.author %}
                                     <a href="{{ path('comment.delete', {'slug': slug, 'idtricks': id, 'id': comment.id}) }}" class="badge-red" style="float: right;">
                                         <i class="fas fa-trash"></i>
                                     </a>
                                 {% endif %}
                                 <div class="comment-list">
                                     <div class="comment">
                                         <div class="image">
                                             <img alt="" src="/img/{{ comment.author.avatar }}" class="avatar">
                                         </div>
                                         <div class="text">
                                             <h5 class="name" style="text-transform: uppercase">{{ comment.author.username }}</h5>
                                             <span class="comment_date">{{ comment.createdAt|date("Y-m-d H:i:s") }}</span>
                                             <div class="text_holder">
                                                 <p>{{ comment.content }}</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                     </div>
                    {% endfor %}
        </div>

            <!-- btn holder -->
            <div class="container text-center btnHolder">
                <button id="btnMore" class="btn">Load More</button>
            </div>

        {% else %}
            <h2 class="text-center">This tricks don't have comment</h2>
        {% endif %}
        <!--END: Show Comment-->
    </div>
    <!--END: Container-->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js2/custom.js') }}"></script>
    <script src="/js/tricks.js"></script>
{% endblock %}
